<div class="wvu-credits">
  <ul>
    <li><a href ="https://about.wvu.edu/wvu-facts">Accreditations</a></li>
    <li><a href="https://webstandards.wvu.edu">Web Standards</a></li>
    <li><a href="https://www.wvu.edu/privacy">Privacy Notice</a></li>
    <li><a href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
  </ul>

  <p>&copy; <r:date_format format="%Y" value="now" /> West Virginia University. West Virginia University is an Equal Opportunity Employer.</p>
</div> <!-- /.wvu-credits -->
