<div class="wvu-icons">
  <ul class="wvu-links">
    <li class="first"><a href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a></li>
    <li><a href="https://campusmap.wvu.edu">Campus Map</a></li>
    <li><a href="https://careers.wvu.edu/career-opportunities">WVU Careers</a></li>
    <li><a href="https://directory.wvu.edu">Directory</a></li>
  </ul>
  <ul class="wvu-links">
    <li><a href="https://give.wvu.edu/campaign/givewvu/c415566">Give</a></li>
    <li><a href="https://careerservices.wvu.edu/students/handshake-login">Handshake</a></li>
    <li><a href="https://alert.wvu.edu/">WVU Alert</a></li>
    <li><a href="https://wvutoday.wvu.edu">WVU Today</a></li>
    <li><a href="https://portal.wvu.edu">WVU Portal</a></li>
  </ul>

  <ul class="wvu-social">
    <li><a class="wvu-facebook" href="https://www.facebook.com/wvumountaineers">WVU on Facebook</a></li>
    <li><a class="wvu-twitter" href="https://twitter.com/WestVirginiaU">WVU on Twitter</a></li>
    <li><a class="wvu-youtube" href="https://www.youtube.com/user/westvirginiau">WVU on YouTube</a></li>
  </ul>
</div> <!-- /.wvu-icons -->
