// WVU Typography
body { font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; color: #333; }
h1 { font-size: 3em; line-height: 1.1; color: $grey-dark; text-transform: uppercase; margin-top: 16px; font-weight: normal; max-width: 12em; }
.site-logo  { font-size: 1.5em; color: $linkcolor; line-height: 1.7; max-width: 100%; display: block; margin-top: 18px; margin-bottom: 18px; text-transform: uppercase; }
h2 { font-size: 1.5em; line-height: 1.4; color: $wvu-blue; border-bottom: 4px solid $wvu-gold; max-width: 12em; font-weight: normal; margin-bottom: 36px; }
h3 { font-size: .97em; text-transform: uppercase; color: $orange-dark; }
h4 { font-size: .97em; }
h5 { font-size: .85em; }
h3, h4, h5, h6 { margin-bottom: 18px; }
h4, h5, h6 { color: #333; margin-bottom: 18px; }
h3, h4, h5 { line-height: 1.15; }
p { max-width: 75em; margin-bottom: 18px; }
blockquote { font-size: .95em; line-height: 1.6; max-width: 60em; margin-bottom: 18px; color: $blue-alternate; border-left: 10px solid #444; padding-left: 10px; }
ul, ol { margin-bottom: 18px; }
a  { color: $linkcolor; text-decoration: none;
  &:visited { color: $linkvisited; text-decoration: none; }
  &:active { text-decoration: none; }
  &:hover { color: $linkhover; text-decoration: underline; }
}
ul { list-style-type: disc; }
ul ul { list-style-type: circle; margin-bottom: 0; }
#nav ul, nav ul, .nav ul { list-style-type: none; margin-left: 0; padding-left: 0; float: left; }
ul li, ol li { line-height: 1.4; margin: 10px 0; }
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; margin-bottom: 0; }
acronym, abbr { font-variant: small-caps; }
ins { text-decoration: underline; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote { vertical-align: baseline; }
h6, .sidebar, aside { font-size: .8em; line-height: 1.5; margin-bottom: 18px; }
ul li, .sidebar li, aside li { line-height: 1.4; }
em, i, cite, q { font-style: italic; }