// Variables
//==================================================

// --WVU Color Palette--

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

// Accent
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #708573;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #E35205;
$pms-115-c: #FDDA24;

// Double Abstraction
$linkcolor: $pms-300-c;
$linkhover: $pms-166-c;
$linkvisited: $pms-286-c;

$basecolor: $black;


// --Grid--

// Grid Media Queries:
$grid-mq-tablet: 48em;
$grid-mq-desktop: 60em;

// Grid Gutters
$grid-gutter-tablet: 1.302083333333333%;
$grid-gutter-desktop: 1.041666666666667%;