<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Big Search Index:</strong> You can create a sort of mini-database by creating sub-pages and using keywords. The search will search each subpage and display pages that match the keywords (found in section <code>.main</code>). This is the search part. Make sure to use the <code>big-search-index</code> pattern to display results.</p>
  </div>
</r:edit_mode_only>
