<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Polyptych:</strong> These panels display sub-features or allow you to have multiple columns of content. Try to keep these consistent e.g. if you have a header in one column, use a header in all of them.</p>
  </div>
</r:edit_mode_only>
