<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Action Hero:</strong> This is meant to direct a user to take an action e.g. register for an event, apply for admission, etc.</p>
  </div>
</r:edit_mode_only>
