<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Profiles Index:</strong> These panels display sub-features or allow you to have multiple columns of content. Try to keep these consistent e.g. if you have a header in one column, use a header in all of them. You can have 1-4 columns. To omit columns, simply leave the description field in each column you wish to omit blank, from right to left.</p>
  </div>
</r:edit_mode_only>
