/* - - - - - - - - - - - - - - - - - - - - -

 Title : CleanSlate App Wufoo Styles
 Description : Rating styles for "Do You Love CleanSlate" in CleanSlate's Dashboard
 Authors : Adam Johnson
 URL : //code.wvu.edu/stylesheets/wufoo/1.0/wufoo-cleanslate-app-rating.css

 Last Updated : June 26, 2014

- - - - - - - - - - - - - - - - - - - - - */


/* Confirmation message */
.embed .confirm h2 {
  margin-left: 0;
  padding-top: 2px;
  padding-bottom: 0;
  text-align: left;
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  color: #555;
}